[Unit]
Description=Kafka consumer
After=network-online.target

[Service]

User=root
Restart=on-failure
ExecStart=/bin/sh -c '/usr/bin/python /opt/consumer/consumer.py'

[Install]
WantedBy=multi-user.targetw