[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c 'KAFKA_OPTS="$KAFKA_OPTS -javaagent:/opt/kafka/jmx_prometheus_javaagent-0.6.jar=7071:/opt/kafka/kafka.yml" /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties  > /opt/kafka/kafka.log 2>&1'
ExecStop=/bin/sh -c '/opt/kafka/bin/kafka-server-stop.sh'
Restart=on-failure

[Install]
WantedBy=multi-user.target